/*
 * File: /src/styles/_globals.scss
 * File Created: Friday, 16th August 2019 9:13:53 pm
 * Author: Alex Chomiak 
 * 
 * Last Modified: Wednesday, 13th November 2019 7:25:58 pm
 * Modified By: Alex Chomiak 
 * 
 * Author Github: https://github.com/alexchomiak
 */

// scss global variables
$primaryColor: #74b7ff;
$secondaryColor: #597695;
$backgroundColor: #393939;
