a,
.nav-link {
    color: #74b7ff;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}
ul {
    list-style-position: inside;
}
body {
    color: #74b7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #393939;
    font-family: "Trebuchet MS";
    align-items: center;
}

#root {
    width: 50%;
}
#app {
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
}
.nav-link--active {
    color: #316fb2;
    font-weight: 600;
}

.logo {
    animation-name: logo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: block;
    width: 35%;
    margin: 2rem auto;
    opacity: 0.5;
}

@keyframes logo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
