/* index css file (used for css resets and such) */
html {
    font-size: 62.5%; /* normalizes fontsize for REM, 1REM = 10px */
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
    background: rgb(36, 16, 34);
    background: radial-gradient(circle, rgba(36, 16, 34, 1) 0%, rgba(48, 27, 50, 1) 100%);
}
